/*
Theme Name:     Storefront Gigalumi
Version:        0.1.0
Template:		    storefront
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Config

*/

img {
  vertical-align: middle;
}

input {
	border: none;
	padding: 0;
}

input:focus, textarea:focus {
	outline: none;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-xl;
}

h1.entry-title {
  @apply py-10;
}
/*
Header
*/

.announcement-bar {
  @apply bg-green-200;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
}

.site-header {
  height: 100px;
}

.site-branding img {
  height: 50px;
}

.sub-menu {
  left: 0;
  top: 60px;
}

/* .menu-link:hover {
  @apply text-blue-0;
} */

.shop-navigation {
  box-shadow: 0 999px 0 999px #6666669a;
}

.nav-triangle-borderless{
  position: absolute;
  width: 30px;
  height: 20px;
  right: 40px;
  top: 52px;
  bottom: 100%;
  z-index: 2;
  filter: drop-shadow(0 -2px 0px rgba(0, 0, 0, 0.12));
}

.header-cart-list {
  @apply rounded-5 text-black absolute top-16.4 right-0 z-1 bg-white shadow-md p-3 border border-gray-300;
}

.widget_shopping_cart .widget_shopping_cart_content {
  width: 460px;;
}

.widget_shopping_cart .woocommerce-mini-cart-item {
  @apply flex flex-row items-center justify-between p-3 border-t border-gray-300;
}

.widget_shopping_cart .woocommerce-mini-cart-item:last-child {
  @apply border-b border-gray-300;
}

.woocommerce-mini-cart-item a:nth-child(2) {
  @apply flex flex-row items-center font-bold w-4/5;
}

.woocommerce-mini-cart-item .attachment-woocommerce_thumbnail {
  @apply w-24 mx-2;
}

.woocommerce-mini-cart-item .quantity {
  @apply float-right;
}

.woocommerce-mini-cart-item .woocommerce-Price-amount {
  @apply font-bold;
}

.widget_shopping_cart_content .woocommerce-mini-cart__total{
  @apply float-left mt-3;
} 

.widget_shopping_cart_content .woocommerce-mini-cart__buttons{
  @apply float-right mt-3;
} 

.woocommerce-mini-cart__buttons a:first-child {
  @apply hidden;
}

.woocommerce-mini-cart__buttons a.checkout {
  @apply inline-block text-center leading-12 h-12 px-10 text-lg bg-orange-500 rounded-5 text-white uppercase;
}


/*
Content

*/
.col-full, .site-main, .site-content > .woocommerce {
  @apply w-full m-auto;
  padding: theme('container.padding.default');
}

@screen sm {
  .col-full, .site-main, .site-content > .woocommerce {
    max-width: theme('screens.sm');
    padding: theme('container.padding.sm');
  }
}

@screen lg {
  .col-full, .site-main, .site-content > .woocommerce {
    max-width: theme('screens.lg');
    padding: theme('container.padding.lg');
  }
} 

@screen xl {
  .col-full, .site-main, .site-content > .woocommerce {
    max-width: theme('screens.xl');
    padding: theme('container.padding.xl');
  }
}

/*
Shop
*/
.storefront-sorting {
  @apply flex mb-0 justify-between;
}

.storefront-sorting .woocommerce-ordering {
  @apply m-auto;
}

.storefront-sorting .woocommerce-result-count {
  @apply my-auto mx-5 inline-block whitespace-no-wrap;
}

.wpfMainWrapper {
  /* @apply flex items-start; */
  @apply text-base;
}

.wpfCheckboxHier select {
  @apply border border-gray-200;
  padding: 0.4rem;
}

.woocommerce-LoopProduct-link .woocommerce-loop-product__title {
  @apply font-bold;
}

.woocommerce-LoopProduct-link .price {
  @apply text-left !important;
}

.woocommerce-LoopProduct-link .price .woocommerce-Price-amount {
  @apply text-xl font-bold text-orange-300;
}

li.product .woocommerce-LoopProduct-link .star-rating {
  @apply m-0 !important;
}

.star-rating span:before {
  @apply text-orange-300;
}

.columns-3 {
  @apply grid grid-cols-3;
}

.products.columns-3 {
  @apply  gap-6;
}

.columns-4 {
  @apply grid grid-cols-4;
}

.products.columns-4 {
  @apply  gap-8;
}

.products .product {
  @apply p-5 bg-gray-100;
}

a.woocommerce-loop-product__link:hover {
  @apply text-green-200;
}

.woocommerce-loop-product__link img {
  @apply rounded-5;
}

.woocommerce-loop-product__link .woocommerce-loop-product__title {
  @apply mt-5 mb-4 text-current;
}

.product-action {
  @apply flex flex-row items-center;
}

.product-action a.quick_view {
  @apply bg-white border border-gray-500 rounded-3 text-black h-full;
}

.product-action a.quick_view:hover {
  @apply text-green-200;
}

.product-action a.quick_view svg {
  @apply inline-block w-6 h-6 mx-2;
}

.product-action .add_to_cart_button {
  @apply bg-white border border-gray-500 rounded-3 mr-15 ml-3 h-full pt-2 pb-3;
}

.product-action .add_to_cart_button:hover {
  @apply bg-orange-700 text-white border-orange-700;
}

/*
Single-product

*/

.single-product div.product .product_title {
  @apply text-3xl leading-15 py-10 px-0 font-bold;
}

.single-product div.product .woocommerce-product-rating {
  @apply mb-20 -mt-32;
}

.single-product div.product .price {
  @apply text-3xl text-red-100 mb-5;
}

.single-product div.product #pa_color {
  @apply border border-gray-300 p-2;
}

.quantity {
  @apply flex items-center;
}

.quantity-selector {
  @apply h-12 inline-flex m-3 border border-gray-300 rounded-3;
}

.quantity-selector input.qty {
  @apply border-0 border-l border-r  border-solid border-gray-300 p-2 h-full appearance-none;
}

.quantity-selector input.qty::-webkit-inner-spin-button {
  @apply appearance-none;
}

.quantity-selector .quantity-selector-button {
  @apply flex items-center px-4 h-full text-black;
}

.quantity-selector .quantity-selector-button:hover {
  @apply text-green-400;
}

.quantity-selector .quantity-selector-button:disabled {
  @apply cursor-not-allowed text-gray-600;
}

.single-product .single_add_to_cart_button {
  @apply border border-solid border-orange-500 text-orange-500 rounded-3 h-12 px-15;
}

.single-product .single_add_to_cart_button:hover {
  @apply bg-orange-500 text-white;
}

.cart .pisol_single_buy_now {
  @apply border border-solid border-orange-500 bg-orange-500 text-white rounded-3 h-12 px-15 ml-3;
}

.cart .pisol_single_buy_now:hover {
  @apply border-orange-400 bg-orange-400 ;
}

.qae-faqs-container .qe-faqs-filters-container {
  @apply hidden ;
}

.qae-faqs-container .qe-toggle-title {
  @apply flex items-center justify-between;
}

.qae-faqs-container .qe-faq-toggle {
  @apply border-b border-gray-500;
}

.ivole-meter .ivole-meter-bar {
  border-radius: 1px;
  background: #de8800;
  /* background: -webkit-linear-gradient(top,#ffce00,#ffa700);
  background: linear-gradient(to bottom,#de8800,#de8800); */
  background-color: #de8800;
}

.qe-toggle-content table tr td {
  @apply border-t border-b border-l-0 border-r-0 border-gray-300 w-1/2;
}

.qe-toggle-content table tr td:first-child {
  @apply bg-gray-100;
}


/*
Cart

*/
.return-to-shop .wc-backward {
  @apply block rounded-3 w-56 h-12 leading-12 bg-orange-500 text-white text-sm text-center uppercase font-bold; 
}


.entry-title {
  @apply text-4xl;
}

table.cart thead {
  @apply hidden;
}

table.cart tr.cart_item {
  @apply border-b border-gray-400;
}

table.cart .product-thumbnail img {
  @apply w-34;
}

table.cart td.product-name {
  @apply font-bold;
}

table.cart td.product-price {
  @apply text-red-200;
}

table.cart td.product-subtotal {
  @apply font-black;
}

table.cart .quantity-desc {
  @apply hidden;
}

table.cart .quantity-selector {
  @apply m-0;
}

table.cart button[name="update_cart"] {
  @apply border border-solid border-orange-500 text-orange-500 rounded-3 h-12 px-15;
}

table.cart button[name="update_cart"]:disabled {
  @apply border-gray-600 text-gray-600;
}

table.cart button[name="update_cart"]:enabled:hover {
  @apply bg-orange-500 text-white;
}

table.cart .coupon {
  @apply border border-black h-12 flex rounded-3;
}

table.cart .coupon input {
  @apply p-2;
}

table.cart .coupon button {
  @apply bg-black text-white h-full px-5;
}

.cart_totals {
  @apply bg-gray-200 p-8;
}

.cart_totals h2 {
  @apply text-lg font-bold;
}

.cart-discount {
  @apply text-red-200;
}

.wc-proceed-to-checkout .checkout-button {
  @apply block text-center mx-auto leading-12 h-12 bg-orange-500 text-white;
}

/*
Checkout

*/
body.woocommerce-checkout form.woocommerce-cart-form {
  @apply hidden;
}

.woocommerce-checkout .woocommerce-form-coupon-toggle {
  @apply hidden;
}

#order_review_heading {
  @apply text-lg font-black;
}

#order_review {
  @apply border border-gray-300 rounded-10 shadow-2xl;
}

.wc-stripe-save-source {
  @apply flex items-center flex-row-reverse;
}

.wc-stripe-save-source .save-source-label {
  @apply mx-2 mt-1;
}

#payment .place-order {
  @apply mt-0 ;
}

#place_order {
  @apply bg-green-200 rounded-5 mx-auto h-12 leading-12 px-10 text-white block;
}

#place_order:hover {
  @apply bg-green-300;
}

#customer_details {
  width: 42%;
}

#customer_details h3 {
  @apply text-lg font-black;
}

#customer_details input {
  @apply border border-gray-500 border-solid rounded-5 p-1;
}

#customer_details .form-row {
  @apply my-1;
}

.woocommerce-order .woocommerce-customer-details address {
  @apply bg-gray-100;
}

/**
My Account
*/

#customer_login .input-text {
  @apply border-2 border-solid border-gray-300 rounded-3 p-3;
}

#customer_login p {
  @apply my-2;
}

#customer_login .woocommerce-form-login__rememberme {
  @apply my-3;
}

#customer_login .woocommerce-form-login__submit {
  @apply rounded-6 bg-green-200 py-3 px-24 text-white uppercase font-bold;
}

.the_champ_outer_login_container {
  @apply my-5;
}

#customer_login .woocommerce-form-register__submit {
  @apply rounded-6 border border-solid border-black text-black py-3 px-24 uppercase font-bold ;
}

body.logged-in.woocommerce-account #content {
  @apply bg-blue-100;
}

.woocommerce-MyAccount-navigation, .woocommerce-MyAccount-content {
  @apply bg-white p-7;
}

.woocommerce-MyAccount-navigation-link {
  @apply bg-green-100 rounded-6 text-black;
}
.woocommerce-MyAccount-navigation-link:hover, .woocommerce-MyAccount-navigation-link.is-active {
  @apply text-green-200;
}

.woocommerce-MyAccount-content .woocommerce-Addresses {
  @apply flex flex-col;
}

.woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address {
  @apply bg-orange-200 rounded-10 p-5;
}

.woocommerce-MyAccount-content h3 {
  @apply text-sm;
}

.woocommerce-MyAccount-content form .woocommerce-address-fields {
  @apply bg-green-100 rounded-10 p-3;
}

.woocommerce-MyAccount-content .form-row {
  @apply my-2;
}

.woocommerce-MyAccount-content .input-text {
  @apply border border-solid border-gray-500 rounded-5 p-2;
}

.woocommerce-MyAccount-content form .woocommerce-address-fields button[type="submit"] {
  @apply text-green-200 font-bold;
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm button[type="submit"] {
  @apply rounded-10 bg-green-300 py-4 px-12 text-white font-bold;
}